@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

.div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
}

.div img {
    width: 100px;
}

.div form {
    border: 2px solid #4B4B4B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 478px;
    height: 389px;
    border-radius: 20px;
}

.div input,.div button {
    font-family: 'Poppins';
    padding-left: 15px;
    margin-bottom: 20px;
    height: 55px;
    width: 399px;
    font-size: 20px;
    color: #FFF;
    background-color: #454545;
    border: none;
    border-radius: 10px;
}

.div button {
    border: none;
    background-color: #525252;
    margin-top: 45px;
    margin-bottom: 0px;
}

.div button:hover{
    cursor: pointer;
    background-color:#454545;
}


