
.ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}
